.servicesSection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: #fff;
    padding: 80px 10%;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .sectionTag {
    background: #666;
    color: white;
    padding: 5px 15px;
    font-size: 0.9rem;
    border-radius: 15px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color:white;

  }
  
  .highlight {
    background-color: #ffcc00;
    color: black;
    padding: 3px 8px;
  }
  
  .servicesGrid {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
  }
  
  .serviceCard {
    background: #d9d9d9;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    flex: 1;
    max-width: 350px;
  }
  
  .serviceCard img {
    max-width: 100%;
    height: auto;
  }
  
  h3 {
    font-size: 1.5rem;
    color: #000;
    margin: 10px 0;
  }
  
  p {
    font-size: 1rem;
    color: #333;
    margin: 10px 0 20px;
  }
  
  .taxiButton {
    background: #ffcc00;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .taxiButton:hover {
    background: black;
    color: #ffcc00;
  }
  
  .buttonGroup {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .reserveButton {
    background: black;
    color: #ffcc00;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .reserveButton:hover {
    background: #ffcc00;
    color: black;
  }
  
  